name: Deploy Rentbot to Cloud Run
on:
  push:
    branches:
      - main
    paths-ignore:
      - README.md
  workflow_dispatch:

env:
  GCP_REGION: us-east1
  GCP_PROJECT: groupme-rentbot
  GCP_ARTIFACT_REPOSITORY: images
  GCP_DOCKER_IMAGE: rentbot

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
     contents: read
     id-token: write
    steps:
      - name: Bump version (if needed)
        if: github.event_name == 'push'
        uses: TriPSs/conventional-changelog-action@v3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          skip-commit: "true"

      - name: Create GitHub release (if needed)
        if: github.event_name == 'push'
        uses: google-github-actions/release-please-action@v3
        with:
          release-type: python
          command: github-release

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v0
        with:
          workload_identity_provider: projects/240990485203/locations/global/workloadIdentityPools/rentbot-github-actions/providers/github
          service_account: rentbot-deployment@groupme-rentbot.iam.gserviceaccount.com

      - name: Authenticate Docker with GCP
        run: gcloud auth configure-docker us-east1-docker.pkg.dev --quiet

      - name: Build Rentbot Docker image
        id: docker-build
        run: |
          IMAGE_FULL_NAME=${GCP_REGION}-docker.pkg.dev/${GCP_PROJECT}/${GCP_ARTIFACT_REPOSITORY}/${GCP_DOCKER_IMAGE}
          docker build . -t ${IMAGE_FULL_NAME}:latest
          echo "image=$IMAGE_FULL_NAME" >> $GITHUB_OUTPUT

      - name: Push Docker image to GCP
        run: docker push ${{ steps.docker-build.outputs.image }}

      - name: Deploy Docker image to GCP Cloud Run
        uses: google-github-actions/deploy-cloudrun@v0
        with:
          service: ${{ env.GCP_DOCKER_IMAGE }}
          image: ${{ steps.docker-build.outputs.image }}:latest
          region: ${{ env.GCP_REGION }}
          secrets: |
            GROUPME_BOT_ID=RENTBOT_GROUPME_ID_PROD:latest
            RENTBOT_GSHEETS_KEY=RENTBOT_GSHEETS_KEY_PROD:latest
            RENTBOT_GSHEETS_URL=RENTBOT_GSHEETS_URL_PROD:latest
          flags: |
            --service-account=rentbot-576mcafee-apt204@groupme-rentbot.iam.gserviceaccount.com
            --max-instances=1
            --port=80
